name: CI
on:
  - push
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4 # node is required by arethetypeswrong
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun run check
  validate-schemas:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun run turbo run start --filter=schemas
